/* Anvädning av font family (på alla sidor förutom index.html */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- Hover Effects ---- */

.hover-effect:after {
  display: block;
  content: "";
  border-bottom: solid 3px #e92828;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.hover-effect:hover:after {
  transform: scaleX(1);
}

.hover-effect.fromRight:after {
  transform-origin: 100% 50%;
}

.hover-effect.fromLeft:after {
  transform-origin: 0% 50%;
}

.button-hover-effet:hover {
  transform: scale(1.03);
  background-color: #ee5151;
}

/* ---- Animations ----*/

/* Denna simpla animation kommer att byta färg
   på texten den läggs på från röd till lite lättare röd.
   Kommer att användas på Page Title.
*/
@keyframes changeTitleColor {
  0% {
    color: #e92828;
  }
  50% {
    color: #f07171;
  }
  100% {
    color: #e92828;
  }
}

.page-title {
  text-align: center;
  font-size: 3vw;
  margin-top: 3vh;
  color: #e92828;
  font-weight: 900;
  /* Animationen tar 2s och körs infinite */
  animation: changeTitleColor 2s infinite;
}

/* ---- Nav bar ---- */

.header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
}

.header img {
  height: 12vw;
  justify-content: center;
}

.header ul {
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  gap: 7vw;
  margin-top: 4vh;
  margin-left: 20vw;
}

.header ul li a {
  color: #ee5151;
  text-decoration: none;
  font-size: 1.7vw;
  font-weight: 500;
}

/* ---- Menu ---- */

/* Användning av grid-layout (krav)*/
/* Istället för linje under använder jag att bilden blir större 
Skulle annars gjorts med element:hover {
  border-bottom: "1px solid red" exempel
}
*/

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  gap: 1rem;
}

.menu-item {
  margin-top: 7vh;
  display: flex;
  width: 30vw;
  height: 22svh;
  align-items: center;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

/* Anvöndning av opacity (krav)*/
.menu-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transform: scale(1.01);
}

.menu-item img {
  width: 10.5vw;
}

.menu-item-info h1 {
  font-size: 2vw;
  margin-bottom: 3vh;
}

.menu-item-info p {
  font-size: 1vw;
}

.menu-item-info button {
  padding: 0.5vw;
  border-radius: 5px;
  transition: 0.5s;
}

.menu-item-info button:hover {
  background-color: #ee5151;
}

.menu-item h2 {
  display: left;
}

/* ---- About Us ---- */

.page-description {
  text-align: center;
  margin-top: 5vh;
  color: rgb(123, 123, 123);
  font-size: 1vw;
}

.about-cards {
  display: flex;
  width: 100vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.card {
  display: flex;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.card-info {
  margin-left: 1vw;
}

.card-info h3 {
  font-size: 1vw;
  font-weight: 300;
}

.card-info h2 {
  font-size: 1.5vw;
  font-weight: 700;
}

.group-icon {
  font-size: 2.8vw;
}

/* ---- Order ---- */

.order-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh auto;
  border-radius: 20px;
  width: 50vw;
  height: 60vh;
  border: 1px solid gray;
}

.order-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.order-last {
  margin-top: 2vh;
  text-align: center;
  width: 50vw;
  color: #e92828;
}

.order-last input {
  margin-top: 2vh;
  padding: 0.8vw;
  border-radius: 7px;
  color: white;
  background-color: #e92828;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* ---- Contact ---- */

.contact-icons {
  text-align: center;
  color: #ee5151;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  align-items: center;
}

.contact-form-form input {
  border: 1px solid #e92828;
  padding: 1vw;
  border-radius: 10px;
  margin-bottom: 2vh;
  font-size: 1vw;
}

.contact-form-form label {
  font-weight: 100;
  font-size: 1vw;
}

.contact-form-form {
  margin-top: 5vh;
}

.contact-form-form-bottom {
  display: flex;
  justify-content: space-between;
}

.contact-form-form-bottom input {
  border: none;
  color: white;
  background-color: #ee5151;
  margin-top: 2vh;
  transition: 0.5s;
}
